ul{
    padding: 0 0;
    list-style: none;
}
body{
    background-color: black;
    font-size: 20px;
    color: white;
}
h1{
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
}
.spanErro{
    color: red;
}
.formInput{
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #1E90FF;
    color: white;
}
fieldset{
    border-radius: 15px;
    border-color: #1E90FF;
    margin: 0 auto;
    margin-top: 20px;
    width: 20%;
}
a{
    color: white;
    text-decoration: none;
}
.btn{
    background: none;
    border: solid 1px #1E90FF;
    color: white;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.linha{
    border: none;
    border-top: 2px solid #1E90FF;
    width: 35%;
    margin-top: 20px;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    letter-spacing: 2px;
}
footer hr{
    border: none;
    border-top: 2px solid #1E90FF;
    width: 35%;
    margin-top: 20px;
}
footer img {
    width: 80px;
}
.ling{
    float: left;
}
.lingR{
    margin-top: 10px;
}
.formTop{
    text-align: center;
}
.clear{
    clear: both;
}
.formBottom{
    text-align: center;
}
.voltar{
    color: #1E90FF;
}
.voltarIn{
    float: left;
}
.caPrPs{
    border: 2px solid #1E90FF;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}
.container{
    margin: 0 auto;
    float: right;
    margin-right: 25%;
    height: 100%;
    position: absolute;
    margin-left: 25%;
    padding-left: 20px;
    padding-right: 40px;
    width: 50%;
    border-left: 2px solid #1E90FF;
    border-right: 2px solid #1E90FF;
}
.info{
    border-left: 2px solid #1E90FF;
    width: 65%;
    float: right;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.info h1{
    margin-top: 20px;
}
.info h2{
    margin: 0;
    padding: 0;
}
.contaUl{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contaUl li{
    padding: 30px;
}
.perfilFoto{
    width: 90px;
    border-radius: 50px;
    margin-top: 20px;
}
.ulFoto{
    float: right;
}
.aPerfil{
    font-size: 15px;
}
.descricao{
    margin-top: 10px;
    border-radius: 15px;
    width: 500px;
    height: 250px;
    resize: none;
    padding: 10px 10px;
    background: none;
    border: 2px solid #1E90FF;
    outline: none;
    color: white;
}
/*menu*/
.imgMenu{
    width: 35px;
    cursor: pointer;
}
.checkMenu{
    display: none;
}
.navMenu{
    background-color: #1E90FF;
    width: 180px;
    left: -180px;
    position: absolute;
    height: 100%;
}
.checkMenu:checked ~ .navMenu{
    transform: translateX(180px);
}
.ulMenu{
    margin-top: 70px;
    padding: 0 0;
    list-style: none;
}
.aMenu{
    padding: 20px;
    display: block;
}
.aMenu:hover{
    background: white;
    color: #1E90FF;
}
.lMenu{
    z-index: 1;
    position: absolute;
    padding: 15px;
}